package templates

import "github.com/dsc-sgu/shawty/internal/server/html/templates/buttons"

templ DeleteResult() {
    <main>
        <span class="result">The link has been deleted!</span>
        <div class="navigation">
            @buttons.NavHome("")
        </div>
    </main>
}
