package templates

import "github.com/dsc-sgu/shawty/internal/server/html/templates/buttons"

templ Home() {
    <main>
        <div class="navigation">
            @buttons.NavCreate("")
            @buttons.NavBrowse("")
        </div>
    </main>
}
