package buttons

templ NavBrowse(text string) {
    <button hx-get="/links" hx-target="main" hx-swap="outerHTML">
        if len(text) == 0 {
            View Links
        } else {
            { text }
        }
    </button>
}
