package buttons

templ NavHome(text string) {
    if len(text) == 0 {
        <button hx-get="/home" hx-target="main" hx-swap="outerHTML">
            Home
        </button>
    } else {
        <button hx-get="/home" hx-target="main" hx-swap="outerHTML">
            { text }
        </button>
    }
}
