package buttons

templ NavHome(text string) {
    <button hx-get="/home" hx-target="main" hx-swap="outerHTML">
        if len(text) == 0 {
            Home
        } else {
            { text }
        }
    </button>
}
