package templs

import "github.com/dsc-sgu/shawty/internal/server/html/templs/components/buttons"

templ Home() {
    <main>
        <div class="navigation">
            @buttons.NavCreate("")
            @buttons.NavBrowse("")
            @buttons.NavLogout("")
        </div>
    </main>
}
