package templs

templ IndexPage() {
    @PageBase() {
        <header>
            <div class="title-container">
                <h1>Shawty</h1>
                <h3>The Link Shortener</h3>
            </div>
        </header>
        @Home()
    }
}
