package buttons

templ NavDelete(text string) {
    if len(text) == 0 {
        <button hx-get="/delete" hx-target="main" hx-swap="outerHTML">
            Delete Link
        </button>
    } else {
        <button hx-get="/delete" hx-target="main" hx-swap="outerHTML">
            { text }
        </button>
    }
}
